.tituloHeader{
    font-family: Public Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(75, 70, 92, 1);

}
.header{
    padding-top: 43px;
    padding-bottom: 43px;
}

.headerIcons{

    display: flex;
    align-items: center;
}
.sameHeight {
    vertical-align: middle;

  }
  