.tituloModal{
    text-align: center;
}

.containerModal{
    text-align: center;
}

.rowModal{
    width: 50%;
}

.botonModal{
    text-align: center;
}

.tituloModal p{
    font-family: Public Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(11, 98, 234, 1);
    text-align: center;
    padding: 4%;

}
.label{
    text-align: left;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(75, 70, 92, 1);
    padding-top: 2%;
    padding-bottom: 2%;
}

.content{
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(75, 70, 92, 1);
}

.buttonModal {
    background: rgba(67, 179, 117, 1);
    width: 25%; /* Cambiado de píxeles a porcentaje */
    height: 35px; /* Cambiado de píxeles a porcentaje */
    top: 30%; /* Cambiado de píxeles a porcentaje */
    left: 50%; /* Cambiado de píxeles a porcentaje */
    border-radius: 6px;
    font-family: Public Sans;
    font-size: 1em; /* Cambiado a em para mayor flexibilidad en el tamaño del texto */
    font-weight: 700;
    line-height: 1.2; /* Cambiado a un valor sin unidades para proporciones relativas */
    letter-spacing: 0.05em; /* Cambiado a em para mayor flexibilidad */
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    border-style: none;
}

.colModals{
    text-align: center !important;
}

.required-asterisk {
    color: red;
  }
  
  .modal-backdrop.custom-opacity {
    background-color: rgba(155, 154, 154, 0.5) !important; /* Ajusta el color y la opacidad según tus preferencias */
  }

  .closeModal{
    text-align: end;
    padding: 2%;
  }
  
  .select{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #E5E5E5;
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.4300000071525574px;
    text-align: left;
    color: rgba(75, 70, 92, 1);
    padding-left: 2%;
  }
  