.sidebar-container{
    position: fixed;
    height: 100%;
    left: 0;
    background: rgb(131, 168, 228);
    
    margin: 0%;
    padding: 0%;
}

.rowRegistros{
    height: 100%;
    margin: 0%;
    padding: 0%;
}

.sideBarPrincipal{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}
.contenidoPrincipal{
    background: #F9F9F9 !important;

}
.sideBarPrincipal{
    height: auto;
}