.custom-header-class{
    background-color: #1a1a1a;
    color: rgb(124, 28, 28);
}
.filtrosRegistros{
    display: flex;
    width: 100%;
}

.selectEstado{
    width: 100%;
    margin: 0%;
    padding: 0%;
    
    border-color: linear-gradient(0deg, #DBE0E4, #DBE0E4),
linear-gradient(0deg, #FFFFFF, #FFFFFF);
    color: rgba(139, 151, 163, 1);
   
    height: 40px;
    top: 28px;
    left: 272px;
    border-radius: 6px;
    border: 1.05px;
    border: 1.05px solid rgba(219, 224, 228, 1)


}
.datePicker{
    width: 100%;
    margin: 0%;
    padding: 0%;
    
    border-color: linear-gradient(0deg, #DBE0E4, #DBE0E4),
linear-gradient(0deg, #FFFFFF, #FFFFFF);
    color: rgba(139, 151, 163, 1);
    height: 40px;
    top: 28px;
    left: 272px;
    border-radius: 6px;
    border: 1.05px;
    border: 1.05px solid rgba(219, 224, 228, 1);
    text-align: right;
    background-color: #FFFFFF;
    padding-right: 10%;

}
.divDatepicker{
  text-align: start;
  width: 100%;
  margin-left: 3%;
}



.tituloRegistros{
    
    font-family: Public Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(75, 70, 92, 1);

}

.periodo{
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(75, 70, 92, 1);


}

.estado{
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(75, 70, 92, 1);
}

.super-app-theme--activo {
    color: #4B465C;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

  }
  
  /* Estilo para filas inactivas */
  .super-app-theme--inactivo {
    color: red; /* Cambia el color de texto para filas inactivas a rojo */
  }

  .custom-header-text {
    color: blue; /* Cambia el color del texto del encabezado de las columnas a azul */
  }

  .btnBuscar{
    background-color: rgba(67, 179, 117, 1);
    width: 40%; /* Cambiado de píxeles a porcentaje */
    height: 40px;
    border-radius: 6px;
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.4300000071525574px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    border-style: none;
    text-align: center;
  }


  .colBuscar {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
  }
  
  .btnBuscar {
    background-color: rgba(67, 179, 117, 1);
    width: 40%; /* Puedes ajustar este valor según tu diseño */
    height: 40px;
    border-radius: 6px;
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.4300000071525574px;
    text-align: center; /* Cambiado a centrado */
    color: rgba(255, 255, 255, 1);
    border: none; /* Eliminado el border-style */
    margin-right: 10px; /* Espacio entre botones (puedes ajustar este valor) */
  }
  
  .btnLimpiar {
    background-color: rgba(255, 255, 255, 1);
    width: 20%; /* Puedes ajustar este valor según tu diseño */
    height: 40px;
    border-radius: 6px;
    border: 1.2px solid rgba(67, 179, 117, 1);
  }
  
  .css-t89xny-MuiDataGrid-columnHeaderTitle{
    color : rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 700;

  }

  .css-5wly58-MuiDataGrid-root .MuiDataGrid-columnHeaderDraggableContainer {
    background-color: rgba(67, 179, 117, 1);
  }

 .btnSiguiente{
  background-color: aqua;
 }

 .css-ytd7wl-MuiPaginationItem-icon {
  border-style: none;
  background-color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 16px !important;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(0, 0, 0) !important;
  opacity: 1 !important;
 }

 .customPaginationItem2{
  background-color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(75, 70, 92, 1);
  border-style: none;
  opacity: 50%;
 }

 .customPaginationItem2.Mui-selected{
  background-color: rgb(205, 46, 46);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(0, 0, 0);
  border-style: none;
  opacity: 100%;
 }

 .css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
  background-color: rgb(255, 255, 255) !important;
 }
 .spanVisualizar{
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(75, 70, 92, 1);
  margin-left: 10px;

 }
 .spanVisualizar2{
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(75, 70, 92, 1);
  margin-left: 5px;
  margin-right: 10px;
 }


 .selectVisualizarRegistros{
  margin: 2%;
  text-align: center;
  width:  65px;
  height:  42px;
  top: 838px;
  left: 480px;
  padding: 13px, 44px, 13px, 17px;
  border-radius: 6px;
  border: 1px;
  gap: 5px;
  border: 1px solid rgba(75, 70, 92, 1);
  color: linear-gradient(0deg, #4B465C, #4B465C),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);


 }
 .divVisualizarRegistros{
  width: 100%;
 }

 .css-1oj2twp-MuiPagination-root {
  width: 65% !important;
  text-align: end !important;
}
